:root{

    --black-clr: hsl(0, 0%, 0%);
    --orange-clr: hsl(32, 100%, 50%);
    --white-clr: hsl(0, 0%, 100%);
    --gray-clr: hsl(0, 0%, 85%);
    --green-clr: hsl(126, 70%, 12%);
    --brown-clr: hsl(29, 70%, 12%);
    --navy-clr: hsl(213, 70%, 12%);
    --blue-clr: hsl(245, 100%, 50%);
    --navy-slate-clr: hsl(213, 70%, 12%);
    --red-clr: hsl(0, 100%, 50%);
}