.hero-wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-image: url(../assets/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-btn{
    border-radius: 5px;
    padding: 0.5rem 1.4rem;
    background: var(--black-clr);

    a{
        text-transform: uppercase;
        color: var(--white-clr);
        font-weight: 800;
    }
}


.header-indicator{
    height: 100px;
}

.elements-title{
    text-align: center;
    background: var(--black-clr);
    margin: auto;
    padding: 1rem;
}

.wrapper2{
    .img{
        width: 500px;
    }
}

.website-reminder{
    background: var(--gray-clr);
}

.offense-content{
    max-width: 2550px;

    .offense-title{
        background: var(--green-clr);
        color: var(--white-clr);
        font-weight: 900;
    }

}

.defense-content{
    max-width: 2550px;

    .defense-title{
        background: var(--brown-clr);
        color: var(--white-clr);
        font-weight: 900;
    }

}

.positions-title{
    background: var(--navy-clr);
    color: var(--white-clr);
    font-weight: 900;
}

.positions-body{
    background: var(--gray-clr);
}

.bars{
    width: 100%;
    height: 8px;
    background: var(--blue-clr);
}

.card-button{
    padding: 1rem;
    background: var(--navy-clr);
    color: white;
}

.reminder-body-content-1{
    width: 100%;
    max-width: 700px;
    border-radius: 30px;
    background-image: url(../assets/c1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.reminder-body-content-2{
    width: 100%;
    max-width: 700px;
    border-radius: 30px;
    background-image: url(../assets/c2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.reminder-body-content-3{
    width: 100%;
    max-width: 700px;
    border-radius: 30px;
    background-image: url(../assets/c3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.play-button{
    background-color: var(--black-clr);
    border-radius: 30px;
    padding: 1rem 3rem;
    color: var(--orange-clr);
    text-transform: uppercase;
    
}